html, body {
    height: 150%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 150%;
    background: linear-gradient(to bottom, cyan,  pink);
}

.title {
    background-color: blueviolet;
    font-size: 28px;
    text-align: center;
    color: aliceblue;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    animation: drop-down-anim 4s ease-in-out forwards;
}

@keyframes drop-down-anim {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

.container {
    max-width: 800px;
    height: 600px;
    background-color: antiquewhite;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
}

.progress-bar-bg {
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 12px;
    margin: auto;
    display: block;
    border-radius: 15px;
}

.fill {
    width: 100%;
    height: 12px;
    background-color: blue;
    border-radius: 10px;
}

.question {
    font-size: 24px;
    color: plum;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    margin-top: 20px;
    text-align: center;
}

.start-btn {
    margin: auto;
    display: block;
    font-size: 36px;
    border-radius: 20px;
    margin-top: 300px;
    background-color: olive;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.start-btn:hover {
    background-color: aqua;
    font-weight: 800;
}

.timer {
    background-color: cornflowerblue;
    margin: auto;
    display: block;
    color: aquamarine;
    width: 200px;
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    border-radius: 60%;
    padding: 35px 10px;
    font-family: cursive;
}


.option-btn {
    width: 70%;
    height: fit-content;
    margin: auto;
    display: block;
    font-size: 24px;
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 20px;
    cursor: crosshair;
    font-family: cursive, fantasy, monospace;
    background-color: rgb(0, 255, 200);
    font-weight: 800px;
}

.option-box{
   margin-top: 30px;
}

.option-btn:hover{
    background-color: lavenderblush;
    font-style: italic;
    font-weight: 900;
}

.score-label{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: auto;
    color: tomato;
    text-align: center;
    margin-top: 30px;
}

.feedback-label{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: auto;
    color: rgb(68, 0, 255);
    text-align: center;
    margin-top: 30px;
}

.bgm{
    margin: auto;
    display: block;
    margin-top: 30px; 
}

.music{
    margin: auto;
    display: block;
    margin-top: 10px;
}