body {
    background-color: rgb(245, 138, 231);
    margin: 0;
    padding: 0;
}

.main-title {
    font-size: larger;
    color: blanchedalmond;
    text-align: center;
    background-color: rgb(121, 150, 247);
    font-family: fantasy;
    padding: 20px;
}

.pic1 {
    width: 400px;
    border: solid 10px bisque;
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.title {
    font-size: larger;
    color: black;
    text-align: center;
    background-color: rgb(0, 255, 191);
    font-family: fantasy;
    padding: 20px;
}

.pic2 {
    width: 800px;
    border: solid 20px rgb(252, 169, 169);
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-top: 20px;
    size-adjust: 400px;
}

.pic3 {
    width: 800px;
    border: solid 20px rgb(6, 253, 89);
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-top: 20px;
    size-adjust: 400px;
}

.pic4 {
    width: 800px;
    border: solid 20px rgb(6, 183, 253);
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-top: 20px;
    size-adjust: 400px;
}

.footer {
    background-color: cyan;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.table1 {
    margin: auto;
    width: 90%;
    background-color: beige;
    font-size: larger;
    font-family: cursive;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.table2 {
    margin: auto;
    width: 90%;
    background-color: rgb(171, 253, 145);
    font-size: larger;
    font-family: cursive;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}


nav {
    background-color: aquamarine;
}


.navbar-toggler {
    background-color: aliceblue;
    box-sizing: 20px;
}